* {
	margin: 0;
	padding: 0;
	color: #00ff55;
	font-family: 'Orbitron', sans-serif;
}

body {
	background-color: black;
}
h2 {
	padding-top: 2em;
	text-align: center;
	font-size: 3em;
}

#clock {
	font-size: 4em;
	padding-top: 2em;
	text-align: center;
	color: #00ff55;
}
